/* Fonts */
@font-face {
  font-family: 'Ophelia';
  src: url('fonts/Ophelia.otf') format('opentype');
}

@font-face {
  font-family: 'Rosie Brown Serif';
  src: url('fonts/Rosie Brown Serif Demo.otf') format('opentype');
}

@font-face {
  font-family: 'LT Glockenspiel Black';
  src: url('fonts/LT Glockenspiel Black.ttf') format('truetype');
}

/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia;
    scroll-behavior: smooth;
	color: white;
	font-size: 24px;
	background-color: #26362F;
}

.title,
h1,
h2,
label {
	font-family: Ophelia;
}

h1 {
	font-size: 70px;
}

/* Page sections */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

.rsvp-btn {
    background-color: #26362F;
    border-radius: 35px;
    padding: 10px 20px;
	font-family: LT Glockenspiel Black;
	font-size: 38px;
	font-weight: 400;
}

.number {
	font-family: Rosie Brown Serif;
}

.cover-container {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}

/* page1 */
#page1 {
	background-image: url("images/Background Extended.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: end;
}

#page1 .content {
	position: relative;
	height: 100%;
	width: 100%
}

#page1 .btn-container {
	position: absolute;
	bottom: 15%;
	right: 50%;
	transform: translateX(50%);
}

.date {
	display: flex;
	align-items: center;
	margin: 40px;
	font-size: 46px;
}

.separator {
	width: 100%;
	height: 2px;
	background-color: white;
	margin: 0 50px;
}

/* Page 2 */
#page2 {
	height: auto;
	position: relative;
}

#page2 img {
	width: 100%;
	height: auto;
}

#page2 .content {
	position: absolute;
	font-size: 42px;
	top: 25%;
	text-align: center;
}

/* page3 */
#page3 {
	/* background-color: #32453C; */
	background-image: url("images/Assets-Green-1.png");
	background-size: cover;
	color: white;
	height: auto;
	min-height: 100vh;
}

#page3 .content {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 4em 3em 3em 3em;
	color: white;
}

#page3 .top {
	display: flex;
	justify-content: center;
}

#page3 .top img {
	height: 125px;
}

#page3 .bottom {
	text-align: center;
	color: #98aa91;
	font-size: 27px;
	margin-bottom: 5%;
}

#page3 .bottom-img {
	display: flex;
	justify-content: center;
}

#page3 .bottom-img img {
	height: 90px;
}

#page3 .middle {
	width: 100%;
	padding: 5% 0;
}

#page3 .grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px 60px;
}

#page3 .grid .row-1 {
	display: flex;
	align-items: end;
	margin-bottom: 30px;
}

#page3 .grid .row-2 {
	align-items: start;
}

#page3 .grid .row-3 {
	align-items: center;
}

#page3 .grid .col-3.row-2,
#page3 .block .block-3.row-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

#page3 .grid .col-3.row-2 div,
#page3 .block .block-3.row-2 div {
	margin-top: 10px;
}

#page3 .grid > div,
#page3 .block > div {
	display: flex;
	justify-content: center;
}

#page3 .block {
	display: none;
	margin: 30px 0;
}

#page3 .block .row-1,
#page3 .block .row-2,
#page3 .block .row-3 {
	text-align: center;
}

#page3 .block > div {
	flex-direction: column;
	padding: 20px 0;
}

#page3 .block > div > div {
	padding: 10px 0;
}

#page3 .row-1 {
	color: #98aa91;
	font-size: 35px;
}

#page3 p {
	text-align: center;
	letter-spacing: 0.5px;
	line-height: 35px;
}

#page3 .large {
	font-size: 46px;
	line-height: 46px;
}

/* page4 */
#page4 {
    height: 50vh;
}

/* page5 */
#page5 {
	background-image: url("images/Assets-Green-2.png");
	background-size: cover;
	height: auto;
	min-height: 100vh;
	display: block;
	position: relative;
}

#page5 .content-title {
	position: relative;
}

#page5 .content-title img {
	width: 100%;
	height: auto;
}

#page5 .content-title > h1 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-weight: 400;
	width: 100%;
	text-align: center;
	padding: 0 20px;
}

#page5 .content {
	width: 100%;
	padding: 5em;
}

#page5 .content .schedule-row {
	display: flex;
	align-items: center;
}

#page5 .content .schedule-row label {
	white-space: nowrap;
}

#page5 .content .schedule-row .time .number {
	font-size: 35px;
}

#page5 .content .schedule-row .activity {
	font-size: 30px;
}

#page5 .content .schedule-row .separator {
	height: 1px;
}

#page5 .content .schedule-row:not(:last-child) {
	margin-bottom: 2em;
}

#page5 .border {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: 10%;
}

#page5 .border .img-container {
	height: 50%;
}

#page5 .border .img-container img {
	height: 100%;
}

/* Page 6 */
#page6 {
	background-image: url("images/Assets-Photo-3.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 60vh;
}

#page6 h1 {
	font-weight: 400;
	margin: 0 20px;
	text-align: center;
}

/* page7 */
#page7 {
	/* background-color: #3F584C; */
	background-image: url("images/Assets-Green-3.png");
	background-size: cover;
	height: auto;
}

#page7 .content {
	padding: 10%;
}

#page7 .content ol {
	margin-left: 1em;
}

#page7 h2 {
	font-size: 40px;
	padding-bottom: 20px;
	font-weight: 400;
}

#page7 h2:not(:first-child) {
	padding-top: 2em;
}

#page8 {
	height: 100%;
	position: relative;
}

#page8 img {
	width: 100%;
	height: auto;
}

#page8 .content {
	position: absolute;
	width: 100%;
	height: 47%;
	color: #26352e;
	font-size: 34px;
	font-weight: 600;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10%;
	top: 0;
}

#page8 .footer {
	position: absolute;
	bottom: 0;
	width: calc(100% - 80px);
}

@media(max-width: 1280px) {
	#page3 a {
		overflow-wrap: anywhere;
	}
}

@media(max-width: 1024px) {
	h1 {
		font-size: 55px;
	}

	#page1 .btn-container {
		bottom: 30%;
	}

	#page2 img {
		height: 80vh;
		width: auto;
	}

	#page2 .content {
		font-size: 30px;
	}
	
	#page3 .content {
		justify-content: space-evenly;
		padding: 100px;
	}

	#page3 .middle {
		padding: 0;
	}

	#page3 .grid {
		display: none;
	}

	#page3 .block {
		display: block;
	}

	#page3 .row-1 {
		font-size: 21px;
		margin-bottom: 20px;
	}

	#page3 .large {
		font-size: 44px;
	}

	#page3 .bottom {
		margin-bottom: 50px;
	}

	#page4 {
		height: 40vh;
	}

	#page5 {
		min-height: auto;
	}

	#page5 .time {
		font-size: 30px;
	}

	#page5 .border {
		top: 4%;
	}

	#page5 .border .img-container {
		height: 45%;
	}

	#page5 .content {
		padding: 5em 3em;
	}

	#page6 {
		height: 30vh;
	}

	#page7 .content {
		padding: 5em 4em;
	}

	#page7 .content h2:not(:first-child) {
		padding-top: 1em;
	}

	#page8 .content {
		font-size: 27px;
	}
}

@media(max-width: 768px) {
	body {
		font-size: 16px;
	}

	h1 {
		font-size: 45px;
	}

	.rsvp-btn {
		padding: 5px 13px;
		font-size: 26px;
	}

	.date {
		margin: 26px;
		font-size: 30px;
	}
	
	#page3 .top {
		font-size: 18px;
	}

	#page3 .content {
		padding: 4em 6em 3em 6em;
	}

	#page3 .block > div {
		padding: 10px 0;
	}

	#page3 .large {
		font-size: 38px;
		line-height: 38px;
	}

	#page3 p {
		line-height: 24px;
	}

	#page3 .bottom {
		font-size: 20px;
	}

	#page5 .content .schedule-row .time .number {
		font-size: 30px;
	}

	#page5 .content .schedule-row .time,
	#page5 .content .schedule-row .activity {
		font-size: 24px;
	}

	#page8 .content {
		font-size: 24px;
	}
}

@media(max-width: 600px) {
	h1,
	#page7 h2 {
		font-size: 28px;
	}

	.separator {
		margin: 0 15px;
	}

	#page2 img {
		height: 64vh;
	}

	#page2 .content {
		font-size: 17px;
	}

	#page3 .content,
	#page3 a {
		color: #c7d6d3;
	}

	#page3 .content {
		padding: 60px 40px 50px 40px;
	}

	#page3 .top img {
		width: 100%;
		height: auto;
	}

	#page3 .row-1 {
		margin-bottom: 5px;
	}

	#page3 .large {
		font-size: 34px;
	}

	#page3 .bottom {
		font-size: 16px;
	}

	#page3 .bottom-img img {
		width: 80%;
		height: auto;
	}

	#page5 .content-title {
		display: flex;
		justify-content: center;
	}

	#page5 .content-title img {
		height: 50vh;
		width: auto;
	}

	#page5 .border {
		top: 11%;
	}

	#page5 .border .img-container {
		height: 35%;
	}

	#page5 .border .img-container.right {
		margin-top: 70px;
	}

	#page5 .content {
		padding: 5em 2em;
	}

	#page5 .content .schedule-row .time,
	#page5 .content .schedule-row .activity {
		font-size: 16px;
	}

	#page5 .content .schedule-row .time .number {
		font-size: 23px;
	}

	#page5 .content .schedule-row:not(:last-child) {
		margin-bottom: 1em;
	}

	#page6 {
		height: 20vh;
	}

	#page7 .content {
		padding: 20% 12% 16% 12%;
		color: #c7d6d3;
	}

	#page8 img {
		height: 90vh;
		width: auto;
	}

	#page8 .content {
		font-size: 17px;
		padding: 3.5em 2.5em 2.5em 2.5em;
	}

}